*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Ignore Dialogflow credentials
app/src/main/assets/iot-voice-control-smart-home-59d57044ca23.json
app/src/main/assets/iotvoicecontrol-jjnx-d82e7254e31b.json